body {
	margin:0;
}

nav {
	width: 100%;
	height: 65px;
	position: fixed;
	background-color: rgba(243, 236, 248, 0.3);
}

#body {
	background-image: url(../images/background.png);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}


nav button{
	background: none;
	border:0;
	height:60px;
	color:white;
	font-size:17px;
	margin: 0 10px 0 0;
	padding:25px 15px;
	transition: 0.4s;

}

nav button:hover{
	background:rgba(243,236,248,0.4);
	transition: 0.6s;
	height: 65px;
}
.noob {
	float:right;
}


h1 {
	font-family: Segoe UI Light;
	color: black;
	font-size: 25px;
}

.container {
	width: 30%;
  	margin: auto;
  	font-family: segoe UI Light;
  	color: white;
}

.casino {
	float: left;
	margin-top: 120px;
	position: fixed;
}

.card-panel {
	background: rgba(247, 247, 247, 0.7);
	padding: 10px 10px 10px 10px;
	font-size: 20px;
	width: 800px;
	height: auto;
	border-radius: 5px;
	color:black;
	box-shadow: 0 2px 5px 0;
	margin:auto;
	margin-top: -150px;
	font-family: Segoe UI Light;
}

.vacimage {
	float: left;
	padding: 0px 15px 0px 0px;
}

.card-panel2 {
	background: rgba(247, 247, 247, 0.7);
	padding: 10px 10px 10px 10px;
	font-size: 20px;
	width: 800px;
	height: auto;
	border-radius: 5px;
	color:black;
	box-shadow: 0 2px 5px 0;
	margin:auto;
	font-family: Segoe UI Light;
}

.crowd {
	height: 180px;
	width: 320px;
	float: left;
	padding: 0px 15px 0px 0px;
}

.card-panel3 {
	background: rgba(247, 247, 247, 0.7);
	padding: 10px 10px 10px 10px;
	font-size: 20px;
	width: 800px;
	height: auto;
	border-radius: 5px;
	color:black;
	box-shadow: 0 2px 5px 0;
	margin:auto;
	font-family: Segoe UI Light;
}

.maikeleleimg {
	height: 150px;
	width: 320px;
	float: left;
	padding: 0px 15px 0px 0px;
}

.card-panel4 {
	background: rgba(247, 247, 247, 0.7);
	padding: 10px 10px 10px 10px;
	font-size: 20px;
	width: 800px;
	height: auto;
	border-radius: 5px;
	color: black;
	box-shadow: 0 2px 5px 0;
	margin: auto;
	font-family: Segoe UI Light;
}

.bettingimg {
	height: 200px;
	width: 320px;
	float: left;
	padding: 0px 15px 0px 0px;
}

h2 {
	color: white;
	font-size: 30px;
	font-family: Segoe UI Light;
	position: static;
	text-align: center;
	margin-top: 30px;
}

.card-panelhome {
	background: rgba(247, 247, 247, 0.8);
	padding: 10px 10px 10px 10px;
	font-size: 20px;
	width: 800px;
	height: auto;
	border-radius: 5px;
	color: black;
	box-shadow: 0 2px 5px 0;
	margin: auto;
	font-family: Segoe UI Light;
}

.card-panelhobby {
	background: rgba(247, 247, 247, 0.8);
	padding: 10px 10px 10px 10px;
	font-size: 20px;
	width: 800px;
	height: auto;
	border-radius: 5px;
	color: black;
	box-shadow: 0 2px 5px 0;
	margin-top: -144px;
	margin-left: 550px;
	font-family: Segoe UI Light;
}

::-webkit-scrollbar-track
{
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 background-color: #F5F5F5;
}
::-webkit-scrollbar
{
 width: 8px;
 background-color: blue;
}
::-webkit-scrollbar-thumb
{
 background-color: #6A6A6A;
}

.card-panelbanwave {
	background: rgba(247, 247, 247, 0.8);
	padding: 10px 10px 10px 10px;
	font-size: 20px;
	width: 800px;
	height: auto;
	border-radius: 5px;
	color: black;
	box-shadow: 0 2px 5px 0;
	margin: auto;
	font-family: Segoe UI Light;
}

.card-panelcrowd {
	background: rgba(247, 247, 247, 0.8);
	padding: 10px 10px 10px 10px;
	font-size: 20px;
	width: 800px;
	height: auto;
	border-radius: 5px;
	color: black;
	box-shadow: 0 2px 5px 0;
	margin: auto;
	font-family: Segoe UI Light;
}

.vacimage {
	float: left;
	padding: 25px 15px 0px 0px;
}

.crowd2 {
	height: 180px;
	width: 320px;
	float: left;
	padding: 25px 15px 0px 0px;
}

.maikeleleimg2 {
	height: 150px;
	width: 300px;
	float: left;
	padding: 25px 15px 0px 0px;
}

.bettingimg2 {
	height: 200px;
	width: 320px;
	float: left;
	padding: 27px 15px 0px 0px;
}