body {
	margin:0;
}

nav {
	width: 100%;
	height: 50px;
}

#body {
	background-image: url(../images/background.png);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}


nav button{
	background: none;
	border:0;
	height:60px;
	color:white;
	font-size:17px;
	margin: 0 10px 0 0;
	padding:10px 15px;
	transition: 0.4s;

}

nav button:hover{
	background:rgba(243,236,248,0.4);
	transition: 0.6s;

}
.noob {
	float:right;
}


h1 {
	font-family: Segoe UI Light;
	color: white;
	font-size: 20px;
}

.container {
	width: 30%;
  	margin: auto;
  	font-family: segoe UI Light;
  	color: white;
}

.casino {
	float: left;
}

.volkswagen {
	float: left;
}